@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@import "tw-animate-css";


@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-dm-sans);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  body {
    background-color: white;
  }

  .bg-primary-green {
    background-color: #475149;
  }

  .bg-dark {
    background-color: #1c1c1c;
  }

  .color-green {
    color: #475149;
  }

  .glass-container {
    position: relative;
  }

  .glass-container::before {
    @apply absolute -inset-[10px] -z-10 rounded-xl border border-slate-100/20 bg-slate-200/10 backdrop-blur-md;
    content: '';
  }

  .got-filter::before {
    content: '';
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem;
  }

  img {
    width: 100%;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.125rem;
    margin-bottom: 50px;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.75rem;
      margin-bottom: 25px;
    }

    h3 {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 1.25rem;
    }
  }

  .burger {
    width: 100%;
  }

  .burger::after,
  .burger::before {
    content: '';
    display: block;
    height: 1px;
    width: 40%;
    margin: auto;
    background-color: white;
    position: relative;
    transition:
      transform 0.3s,
      background-color 0.3s ease;
  }

  .burger::before {
    top: 5px;
  }

  .burger::after {
    top: -5px;
  }

  .burger.burgerActive::after {
    transform: rotate(45deg);
    top: -1px;
    background-color: #475149;
  }

  .burger.burgerActive::before {
    transform: rotate(-45deg);
    top: 0;
    background-color: #475149;
  }

  .svgCurve {
    position: absolute;
    top: 0;
    left: -99px;
    width: 100px;
    height: 100%;
    fill: rgb(71, 81, 73);
    stroke: none;
  }

  .absolute-link::after {
    content: '';
    position: absolute;
    inset: 0;
  }

  body {
    transition-property: opacity, background-color, transform, filter;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }

  #inner.anim-on {
  }

  #slide {
    transform: translateY(100vh);
  }
  #slide.anim-on {
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
  }

  #inner {
    background-color: black;
  }
  #page {
    transform: scale(1) translateY(0);
    opacity: 1;
    background-color: white;
  }

  #page.anim-on {
    transition:
      transform 1.2s ease-in-out,
      opacity 0.3s ease-in-out;
    transform: scale(0.9) translateY(-150px);
    opacity: 0.5;
  }

  #opacity {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  #opacity.anim-on {
    opacity: 0;
  }

  .swiper-button-disabled {
    opacity: 0.7;
  }

  .filter::before {
    content: '';
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    top: 14px;
    left: 14px;
    border-radius: 10px;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.3rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
